.staff {
  background-color: #e3651c;
}

.description {
  background-color: #ffffff;
}

.duration {
  background-color: #fca000cb;
}

h1 {
  color: white;
}

h2 {
  color: white !important;
}

.financiado {
  display:inline-block !important;
  vertical-align:middle !important;
}

h3 {
  font-size: 1em;
}

#sobre {
  color: darkgray;
}

#description {
  padding-top: 0;
}

p {
  margin-left: 5%;
  margin-top: 5%;
  align-self: center;
  font-size: 1.1em;
}

.bg-financiadores {
  background-color: #39f;
  padding-top: 2em;
}
