<div id="description" class="uk-section description">
    <div class="bg-financiadores uk-text-center uk-padding-small uk-margin-medium-bottom">
      <div class="financiado"><h2>Projeto financiado e mantido pelo Ministério da Saúde/Fundo Nacional de Saúde</h2></div>
    </div>
  <div class="uk-container uk-flex uk-flex-center">
    <div>
      <h1 align="center" id="sobre">
        Sobre
      </h1>
      <p class="uk-dropcap" style="text-align:justify">
        O presente projeto de pesquisa e desenvolvimento (P&D) tem por objetivo conceber um protótipo de um sistema para
        captação, avaliação, armazenamento e disponibilização de estudos sobre qualidade de vida, devidamente indexados,
        com o propósito de facilitar a localização dos mesmos pelas partes interessadas na incorporação de tecnologias
        no âmbito do SUS.
      </p>
      <p>Para contemplar o objetivo retrocitado, uma série de esforços de pesquisa e desenvolvimento estão sendo
        empreendidos no âmbito da
        Universidade, de modo a guiar a implementação de ações e desenvolvimento de artefatos e entregáveis
        intermediários e final, a partir dos seguintes objetivos:
      </p>
      <ul class="uk-list uk-list-bullet uk-margin-large-left">
        <li>Pesquisar, planejar e transferir a “prova de conceito” de um Sistema para Socialização do Conhecimento
          sobre Qualidade de Vida (SSCQV).</li>
        <li>
          Pesquisar, planejar e transferir a documentação sobre o domínio do SSCQV (inclui as regras de negócio).
        </li>
        <li>
          Pesquisar, planejar e transferir a documentação sobre os requisitos funcionais e de qualidade do SSCQV.
        </li>
        <li>
          Pesquisar e modelar aplicação para auxiliar nesse domínio.
        </li>
        <li>
          Pesquisar, planejar e transferir a documentação, contendo a validação da concepção do SSCQV.
        </li>
        <li>
          Pesquisar, planejar e transferir a documentação, contendo a verificação da viabilidade do SSCQV.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="uk-section duration">
  <div class="uk-container uk-text-center">
    <h2>Duração estimada: 16 meses</h2>
  </div>
</div>

<div class="uk-section staff">

  <div class="uk-container">
    <h1 align="center">Equipe</h1>
    <hr class="uk-divider-icon">

    <div class="uk-margin">
      <div class="uk-flex uk-flex-center">
        <h2>Coordenação</h2>
      </div>
      <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-flex uk-flex-center" uk-grid>
        <div *ngFor="let coordenador of coordenadores">
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
              <img class="uk-align-center uk-border-circle" width="65" height="65" src="{{coordenador.avatar}}">

              <div class="uk-width-expand">
                <h3 align="center" class="uk-card-title uk-margin-remove-bottom uk-margin-top">{{coordenador.nome}}
                </h3>
                <p align="center" class="uk-text-meta uk-margin-remove-top">{{coordenador.cargo}}</p>

              </div>
            </div>
            <div class="uk-card-footer ">
              <a target="_blank" href="{{coordenador.lattes}}" class="uk-align-center uk-button uk-button-text">Ver
                mais</a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="uk-margin">
      <div class="uk-flex uk-flex-center">
        <h2>Bolsistas</h2>
      </div>

      <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-flex uk-flex-center" uk-grid>
        <div *ngFor="let bolsista of bolsistas">
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <img class="uk-align-center uk-border-circle" width="65" height="65" src="{{bolsista.avatar}}">
                  <div class="uk-width-expand">
                    <h3 align="center" class="uk-card-title uk-margin-remove-bottom uk-margin-top">{{bolsista.nome}}
                    </h3>
                    <p align="center" class="uk-text-meta uk-margin-remove-top">{{bolsista.cargo}}</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="uk-card-footer ">
              <a target="_blank" href="{{bolsista.lattes}}" class="uk-align-center uk-button uk-button-text">Ver
                mais</a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
